html, body {
  min-height: 100%;
  overflow: auto;
}
body {
  margin: 0;
  padding: 1em;
  background: radial-gradient(79.69% 79.69% at 69.7% 18.84%, #FFFFFF 0%, #FFFFFF 49.69%, #E1F1F5 100%);
}
#app {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 0 3em 0;
}
a, .fas {
  color: #002b61;
}
.nowrap {
  white-space: nowrap;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: white;
}
header, footer {
  box-shadow: 0 1px 2px silver;
  padding: 0.5em;
}
header nav {
  display: inline;
}
.header-container {
  margin: auto;
  max-width: 1200px;
}
.logo a {
  font-size: 1.5em;
  text-decoration: none;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}
header .button {
  padding: 0 0.5em;
  font-size: 1.5em;
}
footer .button {
  width: 19%;
  text-align: center;
  display: inline-block;
  font-size: 2em;
  vertical-align: middle;
}

#app table.asterisk-table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  tr th,
  tr td {
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #c4c4c4;
    padding: 8px;
  }
  tr th:first-child, table tr th:last-child {
    border-top: 1px solid #c4c4c4;
  }
  tr th:first-child,
  tr td:first-child {
    border-left: 1px solid #c4c4c4;
  }
  tr th:first-child,
  tr td:first-child {
    border-left: 1px solid #c4c4c4;
  }
  tr th:last-child,
  tr td:last-child {
    border-right: 1px solid #c4c4c4;
  }
  tr th {
    background:white;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: white;
  }
  tr:nth-child(odd) {
    background-color: #EBF3EF;
  }

  /* top-left border-radius */
  tr:first-child th:first-child {
    border-top-left-radius: 35px;
  }

  /* top-right border-radius */
  tr:first-child th:last-child {
    border-top-right-radius: 35px;
  }

  /* bottom-left border-radius */
  tr:last-child td:first-child {
    border-bottom-left-radius: 35px;
  }

  /* bottom-right border-radius */
  tr:last-child td:last-child {
    border-bottom-right-radius: 35px;
  }
}

th {
  font-weight: normal;
}
input {
  width: auto;
  font: inherit;
}
table table {
  width: 100%;
}
.arrow {
  text-decoration: none;
  color: black;
}
.app-content {
  max-width: 1200px;
  padding: 3.5em 0.5em 0.5em 0.5em;
  margin: auto;
}
.receipt-editor label {
  width: 8em;
  display: inline-block;
  text-align: right;
}
/*.react-autosuggest__input {
  width: 5em;
}*/
fieldset {
  border: 1px solid silver;
  border-radius: 0.5em;
}
.path, .path > li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}
.path > li:not(:last-child):after {
  content: ' > ';
}

/* cropper */
.cropper-dashed {
  border-color: #39f;
  opacity: 0.7;
}

/* react-autosuggest */
.react-autosuggest__container {
  position: relative;
  display: inline-block;
}
.react-autosuggest__input--focused {
  outline: none;
}
.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest__suggestions-container {
  display: none;
}
.react-autosuggest__suggestions-container--open {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 20em;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  top: 1.5em;
  font-size: 0.8em;
}
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}
.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

/* no-more-tables */
@media (max-width: 400px) {
  table.no-more-tables,
  table.no-more-tables > tbody,
  table.no-more-tables > tbody > tr,
  table.no-more-tables > tbody > tr > td {
    display: block;
  }
  table.no-more-tables > thead {
    display: none;
  }
  table.no-more-tables > tbody > tr > td:before {
    content: attr(data-label);
    display: inline-block;
    width: 80px;
    color: gray;
  }
  table.no-more-tables > tbody > tr > td > span > input,
  table.no-more-tables > tbody > tr > td > div > input,
  table.no-more-tables > tbody > tr > td > input {
    width: auto;
  }
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding: 0
}
.input-row > div {
  display: inline-block;
}

.file-upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-upload-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
