.layout__container {
  margin: 0 auto;
  max-width: 1000px;
  .transactions__container {
    display: flex;
    align-items: flex-start;
    .transactions__content {
      flex: 1;
    }
    .transactions__attributes {
      margin-left: 1em;
      position: sticky;
    }
  }
}
