image: docker:19.03.1
services:
  - docker:19.03.1-dind
  - postgres:13
  
stages:
  - pre
  - build
  - release
  - deploy

variables:
  # Use TLS https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#tls-enabled
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"
  CONTAINER_TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  CONTAINER_RELEASE_IMAGE: $CI_REGISTRY_IMAGE:master_$CI_COMMIT_SHORT_SHA
  # postgres
  POSTGRES_DB: bookkeepr
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: password
  POSTGRES_HOST: postgres

test:
  # From https://stackoverflow.com/questions/54775558/how-to-run-a-test-in-gitlab-for-nodejs-application
  image: node:12
  stage: pre
  script:
    - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
    - npm config set registry ${CI_NPM_REGISTRY}
    - npm ci
    - npm run build
    - npm run knex migrate:latest
    - npm run knex seed:run
    - npm test
  cache:
    paths:
      - node_modules/
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
      - node_modules/

build:
  stage: build
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build --pull -t $CONTAINER_TEST_IMAGE .
    - docker push $CONTAINER_TEST_IMAGE

release-image:
  stage: release
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker pull $CONTAINER_TEST_IMAGE
    - docker tag $CONTAINER_TEST_IMAGE $CONTAINER_RELEASE_IMAGE
    - docker push $CONTAINER_RELEASE_IMAGE

deploy-image:
  stage: deploy
  script:
    - docker tag $CONTAINER_RELEASE_IMAGE AWS_REGISTRY_URL:latest
    - docker push $AWS_REGISTRY_URL:latest
