image: node:14

variables:
  NPM_TOKEN: ${CI_JOB_TOKEN}

stages:
  - deploy

deploy:
  stage: deploy
  script:
    - |
      {
        echo "@${CI_PROJECT_ROOT_NAMESPACE}:registry=${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/npm/"
        echo "${CI_API_V4_URL#https?}/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=\${CI_JOB_TOKEN}"
      } | tee --append .npmrc
    - npm ci
    - npm run build
    - npm publish
