variables:
  # Use TLS https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#tls-enabled
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"
  CONTAINER_TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  CONTAINER_RELEASE_IMAGE: $CI_REGISTRY_IMAGE:latest
  NPM_TOKEN: $CI_JOB_TOKEN

stages:
  - deploy
  - release

deploy:
  image: node:14
  stage: deploy
  script:
    - rm .npmrc
    - npm config set @$CI_PROJECT_ROOT_NAMESPACE:registry https://gitlab.com/api/v4/projects/32804813/packages/npm/
    - npm config set -- 'https://gitlab.com/api/v4/projects/32804813/packages/npm/:_authToken' $CI_JOB_TOKEN
    - npm ci
    - npm test
    - npm run build

release-image:
  image: docker:19.03.12
  services:
    - docker:19.03.12-dind
  stage: release
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build --pull -t $CONTAINER_TEST_IMAGE .
    - docker push $CONTAINER_TEST_IMAGE
    - docker pull $CONTAINER_TEST_IMAGE
    - docker tag $CONTAINER_TEST_IMAGE $CONTAINER_RELEASE_IMAGE
    - docker push $CONTAINER_RELEASE_IMAGE
