service: bookkeepr

provider:
  name: aws
  runtime: nodejs14.x
  stage: dev
  region: eu-north-1

functions:
  app:
    handler: src/server.handler
    events:
      - http: ANY /
      - http: 'ANY /{proxy+}'

plugins:
  - serverless-webpack

package:
  exclude:
    - node_modules/**