service: bookkeepr

provider:
  name: aws
  runtime: nodejs14.x
  stage: dev
  region: eu-north-1

package:
  individually: false

functions:
  app:
    handler: src/server.handler
    events:
      - http: ANY /
      - http: 'ANY /{proxy+}'

plugins:
  - serverless-offline
  - serverless-webpack
custom:
  webpack:
    webpackConfig: ./webpack.config.js 
    includeModules: true
    