service: bookkeepr

provider:
  name: aws
  runtime: nodejs14.x
  stage: dev
  region: eu-north-1

functions:
  app:
    handler: src/server.handler
    events:
      - http: ANY /
      - http: 'ANY /{proxy+}'

plugins:
  - serverless-plugin-webpack

package:
  exclude:
    - node_modules/**
# serverless optimization
  individually: true

# serverless-webpack configuration
# Enable auto-packing of external modules
custom:
  webpack:
    webpackConfig: ./webpack.config.js 
    includeModules: true
    series: true
    