body {
  font-family: sans-serif;
  hyphens: auto;
  font-size: 14px;
  margin: 0;
}
header {
  box-shadow: 0 1px 1px silver;
  padding: 0.5em;
}
.header-container {
  margin: auto;
  max-width: 1000px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: silver;
  border-style: solid;
  border-width: 1px;
}
.app-content {
  max-width: 1000px;
  padding: 0.5em;
  margin: auto;
}
.receipt-editor label {
  width: 8em;
  display: inline-block;
  text-align: right;
}
.react-autosuggest__input {
  width: 5em;
}
fieldset {
  border: 1px solid silver;
  border-radius: 0.5em;
}

/* cropper */
.cropper-dashed {
  border-color: #39f;
  opacity: 0.7;
}

/* react-autosuggest */
.react-autosuggest__container {
  position: relative;
  display: inline-block;
}

.react-autosuggest__input {

}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 20em;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  top: 1.5em;
  font-size: 0.8em;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}