body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
}
header {
  box-shadow: 0 1px 1px silver;
  padding: 0.5em;
}
header nav {
  display: inline;
}
.header-container {
  margin: auto;
  max-width: 1200px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: silver;
  border-style: solid;
  border-width: 1px;
}
th {
  font-weight: normal;
}
input {
  width: auto;
  font: inherit;
}
table table {
  width: 100%;
}
.arrow {
  text-decoration: none;
  color: black;
}
.app-content {
  max-width: 1200px;
  padding: 0.5em;
  margin: auto;
}
.receipt-editor label {
  width: 8em;
  display: inline-block;
  text-align: right;
}
/*.react-autosuggest__input {
  width: 5em;
}*/
fieldset {
  border: 1px solid silver;
  border-radius: 0.5em;
}
.path, .path > li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}
.path > li:not(:last-child):after {
  content: ' > ';
}

/* cropper */
.cropper-dashed {
  border-color: #39f;
  opacity: 0.7;
}

/* react-autosuggest */
.react-autosuggest__container {
  position: relative;
  display: inline-block;
}
.react-autosuggest__input {

}
.react-autosuggest__input--focused {
  outline: none;
}
.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest__suggestions-container {
  display: none;
}
.react-autosuggest__suggestions-container--open {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 20em;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  top: 1.5em;
  font-size: 0.8em;
}
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}
.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

/* no-more-tables */
@media (max-width: 400px) {
  table.no-more-tables,
  table.no-more-tables > tbody,
  table.no-more-tables > tbody > tr,
  table.no-more-tables > tbody > tr > td {
    display: block;
  }
  table.no-more-tables > thead {
    display: none;
  }
  table.no-more-tables > tbody > tr > td:before {
    content: attr(data-label);
    display: inline-block;
    width: 80px;
    color: gray;
  }
  input {
    width: 100px;
  }
  table.no-more-tables > tbody > tr > td > span > input,
  table.no-more-tables > tbody > tr > td > div > input,
  table.no-more-tables > tbody > tr > td > input {
    width: auto;
  }
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding: 0
}
.input-row > div {
  display: inline-block;
}