body {
  font-family: sans-serif
}

/* treetabular */

.show-more:after {
  cursor: pointer;
  padding-right: 0.5em;
  content: "\25B8";
  font-size: large;
}
.show-less:after {
  cursor: pointer;
  padding-right: 0.5em;
  content: "\25BE";
  font-size: large;
}
.has-parent:not(.has-children):before {
  padding-right: 0.5em;
  content: "\0007C";
  font-size: large;
}

/* sortabular */

.sort-order {
  margin-left: 0.5em;
}
table .sort {
  cursor: pointer;
  cursor: hand;
}
table .sort:after {
  padding-left: 1em;

  font-size: 0.5em;
}
table .sort-none:after {
  content: '\21D5';

  padding-left: 0.5em;
  font-size: 1em;
}
table .sort-asc:after {
  content: '\25BC';

}
table .sort-desc:after {
  content: '\25B2';
}

/* react-autosuggest */
.react-autosuggest__container {
  position: relative;
  display: inline-block;
}

.react-autosuggest__input {

}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 20em;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  top: 1.5em;
  font-size: 0.8em;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}