.overview-page__container {
  display: flex;
  align-items: flex-start;
  .overview-page__content {
    flex: 1;
  }
  .overview-page__options {
    position: sticky;
    top: 0;
    .overview-page__time-filter {
      border-width: 0;
    }
  }
}
@media (max-width: 1000px) {
  .overview-page__container {
    flex-direction: column;
  }
}